﻿@model SistemaRestaurante.BusinessEntity.Categoria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Categoria</legend>
    
    @Html.HiddenFor(model=>model.IdCategoria)

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">Imagen</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Imagen)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { idCategoria = Model.IdCategoria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
